.lds-dual-ring {
  display: inline-block;
  width: 35px;
  height: 35px;

  &:after {
    content: " ";
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid #A5A5A5;
    border-color: #A5A5A5 transparent #A5A5A5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
