@import '../../styles/variables';

.transfers__filter {
  background: $white;
  padding: 35px 18px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 218px;
  border-radius: 3px;
  margin: 0 46px 0 0;

  &-list {
    display: flex;
    flex-direction: column;

    & > div {
      margin: 13px 0 0 0;
      flex-direction: row;
      display: flex;
      justify-content: space-between;

      button {
        cursor: pointer;
        border: none;
        background: none;
        text-transform: uppercase;
        color: $blue;
        font-size: 13px;

        &:active,
        &:focus {
          outline: none;
          border: none;
        }

        &:disabled {
          color: $gray;
        }
      }

      & > div {

        &.disabled {
          color: #c3c3c3;

          label:before {
            border: 1px solid #e2e2e2;
          }

          .checkbox:checked + label::before {
            border-color: #afafaf;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='10' height='8' viewBox='0 0 10 8'%3e%3cpath fill='%23afafaf' d='M0.115385 4.38461C0.0384615 4.30769 0 4.1923 0 4.11538C0 4.03845 0.0384615 3.92307 0.115385 3.84615L0.653846 3.30769C0.807692 3.15384 1.03846 3.15384 1.19231 3.30769L1.23077 3.34615L3.34615 5.61538C3.42308 5.6923 3.53846 5.6923 3.61538 5.61538L8.76923 0.269224H8.80769V0.269224C8.96154 0.115378 9.19231 0.115378 9.34615 0.269224L9.88462 0.807685C10.0385 0.961531 10.0385 1.1923 9.88462 1.34615L3.73077 7.73076C3.65385 7.80769 3.57692 7.84615 3.46154 7.84615C3.34615 7.84615 3.26923 7.80769 3.19231 7.73076L0.192308 4.49999L0.115385 4.38461V4.38461Z'/%3e%3c/svg%3e");
          }
        }

      }
    }
  }

  h2 {
    color: $black;
    margin: 0 0 12px 2px;
    text-transform: uppercase;
    letter-spacing: 0.3px;
  }

  & > p {
    color: $black;
    text-align: center;
    margin: 15px 0 0;
  }
}
